**[Slide No. 41]**

1. Write a Python program to create a set.

In [2]:
a={7,9,2,3,4}
print(a)

{2, 3, 4, 7, 9}

**[Slide No.41]**

2. Write a Python program to add member(s) in a set.

In [4]:
a={7,9,2,3,4}
a.add(1)
print(a)

{1, 2, 3, 4, 7, 9}

**[Slide No. 41]**
 
 3. Write a Python program to add string , int, list and float  member(s) in a set.

In [6]:
a={1,2}
print(a)
a.add('test')
print(a)
a.add(5.6)
print(a)

{1, 2}
{'test', 1, 2}
{'test', 1, 2, 5.6}

**[Slide No. 41]**

4. Write a program to add multiple element in set.

In [35]:
a={"t","x"}
print(a)
a.update('v')
print(a)
a.update("c")
print(a)

{'x', 't'}
{'v', 'x', 't'}
{'c', 'v', 'x', 't'}

**[Slide No. 43]**

5. What is the output :

my_set = {1, 3, 4, 5, 6}

Explain the difference between discard and remove method in set

In [9]:
my_set = {1, 3, 4, 5, 6}
print(my_set)

{1, 3, 4, 5, 6}

In [15]:
my_set = {1, 3, 4, 5, 6}
 
my_set.discard(9)
print(my_set)

my_set.discard(3)
print(my_set)


my_set.remove(4)
print(my_set)

my_set.remove(9)
print(my_set)

{1, 3, 4, 5, 6}
{1, 4, 5, 6}
{1, 5, 6}

**[Slide No. 42]**

6. Write a program to remove duplicate value from set.

In [16]:
set1={1,2,2,3,4,5,5,5,6}
print(set1)

{1, 2, 3, 4, 5, 6}

7.  Write a Python program to clear a set.

In [17]:
set1={1,2,2,3,4,5,5,5,6}
print(set1)

set1.clear()

print(set1)

{1, 2, 3, 4, 5, 6}
set()

**[Slide No. 43]**

8. Write a program to add two set.

In [18]:
a = {'a', 'b', 'c'}
b = {'1', '2', '3'}
a.update(b)
print(a)

{'a', '1', '2', '3', 'b', 'c'}

**[Slide No. 43]**

9. What is the output of:

months = set(["January","February", "March", "April", "May", "June"])   

print("\nprinting the original set ... ")    

-Q. Print the set month    

print("\nRemoving some months from the set...");    

-Q. Remove january  from the set    

-Q. Remove may  from the set  


print("\nPrinting the modified set...");    

print(months)

In [27]:
months = set(["January","February", "March", "April", "May", "June"])

print("\nprinting the original set ... ",months);


months.remove('January')

print("\nRemoving some months from the set...",months);



months.remove('May')

print("\nRemoving some months from the set...",months);

printing the original set ...  {'April', 'January', 'May', 'June', 'February', 'March'}

Removing some months from the set... {'April', 'May', 'June', 'February', 'March'}

Removing some months from the set... {'April', 'June', 'February', 'March'}

**[Slide No. 44]**

10. Find union of

Days1 = {"Monday","Tuesday","Wednesday","Thursday"}
    
Days2 = {"Friday","Saturday","Sunday"}

In [30]:
Days1 = {"Monday","Tuesday","Wednesday","Thursday"}

Days2 = {"Friday","Saturday","Sunday"}

WeekDays=Days1.union(Days2)

print(WeekDays)

{'Thursday', 'Wednesday', 'Monday', 'Saturday', 'Sunday', 'Friday', 'Tuesday'}

**[Slide No. 45]**

 11. Write a Python program to create an intersection of sets.

In [31]:
x = {"1", "2", "3"}
y = {"4", "5", "1"}

z = x.intersection(y)

print(z)

{'1'}

**[Slide No. 45]**

12. Write a Python program to create set difference.

In [33]:
 A = {1, 2, 3, 4, 8}
 B = {1, 30, 80, 40, 60}
print(A.difference(B))

{8, 2, 3, 4}

In [34]:
 A = {1, 2, 3, 4, 8}
 B = {1, 30, 80, 40, 60}
print(B.difference(A))

{40, 80, 60, 30}